html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;

}

body{
    display: grid;
    grid-template-columns: 15vw 35vw 35vw 15vw;
    grid-template-rows: 8vh 30vh 30vh 30vh 2vh;
    grid-template-areas: 
    "header header header header"
    "left content content right"
    "left content content right"
    "left content content right"
    "footer footer footer footer"; 
    margin: 0px;
    background-color: bisque;
   
   
}

.header{
    grid-area: header;
    background-color: rgb(114, 110, 110);
    border-bottom: 2px solid grey;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: var(--font-title);
}


.leftSideBar{
    grid-area: left;
    background-color: rgb(63, 63, 68);
    justify-content: center;
    align-items: center;
}

.rjdplogo{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightSideBar{
    margin-top: 16px;
    margin-bottom: 16px;
    grid-area: right;
    background-color: bisque;
    border-left: 2px solid black;
    padding:16px;
}

.content{
    grid-area: content;
    background-color: bisque;
    display: grid;
    padding:20px;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 30% 30% 30% ;
    gap:16px;
    
}

.book{
    border:1px solid black;
    border-radius: 4px;
    padding:4px;
    background-color: rgb(240, 202, 166);
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25%;
    border-left:8px solid black;
}

#AddButton{
    display:flex;
    justify-content: center;
    align-items: center;
}

#AddButton:hover{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.footer{
    display: grid;
    justify-content: center;
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.795);
    color:rgb(156, 146, 146);
    font-size: 1vh;
}


.hiddenPopUp{
    background-color: rgb(240, 202, 166);
    width:20vw;
    height: 40vh;
    border:2px solid rgb(0, 0, 0);
    border-radius: 4px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    display:none;
}

.bookForm{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(20%);
    padding:32px;
    gap:12px;
    justify-content: center;

}

.closeBtn{
    position: relative;
    left:350px;
    top:10px;
    display:flex;
    height: fit-content;
    border-radius: 4px;
    padding:2px;
    font-size: 2rm;
}



:root{
    --font-title: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media screen and (max-width:865px){
    body{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 5vh 20vh 70vh 5vh;
        grid-template-areas: 
       "header"
       "left"
       "content"
       "footer"
       ;
    }

    .book{
        border:2px solid black;
        border-left:8px solid black;
        border-radius: 4px;
        padding:4px;
        background-color: rgb(240, 202, 166);
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25%;
        width:80vw;
        height: 150px;
        
        
    }


    .content{
        grid-area: content;
        background-color: bisque;
        display: grid;
        padding:20px;
        grid-template-columns: 100%;
        grid-template-rows: 20vh ;
        gap:16px;
        height:100%;
        border:2px solid red;
        justify-content: center;
    }

    .hiddenPopUp{
        background-color: rgb(134, 109, 86);
        width:100vw;
        border:2px solid rgb(0, 0, 0);
        border-radius: 4px;
        position: absolute;
        display:none;
    
    }
 


    .rightSideBar{
        display: none;
    }
}
